/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}
body {
  padding-left: 30px; /* Add the desired padding value */
}

h3 {
  text-align: center;
  margin-bottom: 20px; /* Add spacing between the heading and button */
}

.upload-button {
  text-align: center;
}
/* Header */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 4px 10px #aebdb629;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.transparent-button {
  background-color: transparent;
  border-color: transparent;
}
#nav-title {
  margin-right: auto;
  font-size: 1.5em;
}
.card{
  margin-bottom: 10px;
}
header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #b2dfdb;
}

.custom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-container > div {
  width: 70%;
  /* Additional styling for the individual divs if needed */
}